@charset "utf-8";
#details .details-title h2,#details .details-title span{
	padding-bottom: 20px;
}
#details .details-num {
	padding-bottom: 20px;
}
#details .details-con .details-img {
	margin: 0 auto 20px;
	max-width: 1000px;
	max-height: 480px;	
}
#details .details-con .details-img img{
	width: 100%;
	height: 100%;

}
#details .details-text p{
	margin-bottom: 20px;
	text-indent: 2em;
}

@media screen and (max-width: 768px) { 
	#details .details-title h2{
	    font-size: 18px;
	}
}